/* 배경 */
@font-face { font-family: 'Handon3gyeopsal300g'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal300g.woff') format('woff'); font-weight: normal; font-style: normal; }

html {
  height: auto !important;
  background-attachment: fixed; 

}
body {
  background: linear-gradient(to bottom, #f8f8f8, rgba(	112, 219, 219, 0.6) 170%);
  font-family: 'Handon3gyeopsal300g', sans-serif;
}



/* 로고 */

header>#header-area>a>h1 {

    margin-top: 5px;

    background: url(https://upload.tgd.kr/20181220/d4c7149f870179d17f8b5988baf66fbd.png) no-repeat;

    background-size: 90px auto;

}



/* 검색 창 */


header > #header-search-bar #header-search-input {

    border: 2px solid #ffffff;

    border-radius: 15px;

}



header>#header-area>#header-bar-link {

    color: #72d7c7;

}

/* 검색 버튼 */



header>#header-area>#header-search-link {

    color: #72d7c7;

}



header > #header-search-bar #header-search-btn {

    color: #72d7c7;

}



/* 트게더 로고 배너 */



header {

    border-bottom: 4px solid #72d7c7;

    background: linear-gradient(to bottom, #f8f8f8, rgba(	112, 219, 219, 0.6) 200%);

}



/* 상단 배너 광고 뱃지 */



#header-top-notice strong.notice-badge {

    background: #72d7c7;

}



/* 접속자 수 */

.fa-user:before{
    content: url(https://static-cdn.jtvnw.net/badges/v1/55dc506d-9b48-4a32-8bd0-57c2bf038a8c/1);
    position: relative;
    top: 5px;
}

#board-info #viewers-area {
    font-size: 1.1rem;

    color: #4c4646;

    /*
    position: relative;
    bottom: 3em;
    right: 12em;
    */
}


#board-info #viewers-area #viewers:before {

    content: "존버중인 ";

    cursor: text;

}



#board-info #viewers-area #viewers:after {

    content: "개의 물방울";

    cursor: text;

}

/*스트리머 이미지*/

#board-info>h1>#board-info-profile-img {
    width: 55px;
    height: 55px;
    line-height: 23px;
    float: left;
    margin: -4px 4px 0px 0px;
    border-radius: 50%;
}


/*메뉴*/

#board-info {
    border-top: 2px solid #72d7c7;

    border-bottom: none;
}

#board-info>h1 {
    width: 65%;
}


#board-info>a.board-right-menu {
    border: none;

    padding:6px;

    position:relative;
    top: 2em;

}


/* 메인 배너 글 공지 */

#article-list>.article-list-row>.item>.list-checkbox, #article-list>.article-list-row>.item>.list-header, #article-list>.article-list-row>.item>.list-category, #article-list>.article-list-row>.item>.list-title, #article-list>.article-list-row>.item>.list-blocked, #article-list>.article-list-row>.item>.list-time{
    border-bottom:none !important;
}

#article-list>.article-list-row.notice {

    background-color: #edf5c7;

    border-radius : 15px;

    border-color: transparent;

    border-width: 0px;

    margin : 1px 0px;
}

#article-list>.article-list-row.hot {
    border-radius : 15px;
}

#article-list #article-list-category {
    border-top: 2px solid #72d7c7;
    background: white;
}

#article-list>.article-list-row {
    background: none;
    border: none;
}

/* 글 추천 수 */



#article-list>.article-list-row>.item>.list-header>span {
    background-color: #72d7c7;
}

#article-list>.article-list-row>.item>.list-header.v0>span {
    background-color: #72d7c7;
}


/* 댓글 수 */



#article-list>.article-list-row>.item>a.list-title>small.comment-count {

    color: #72d7c7;

}

/*스트리머 좋아요 하트*/
#article-list>.article-list-row .fa-heart {
    animation: heartspin 1.5s infinite linear;
}
@keyframes heartspin {
    0% {transform: rotateY(0deg);}
    50% {transform: rotateY(90deg);}
    100% {transform:rotateY(180deg);}
}

/*인기글 하트*/
span.a-badge i.fa.fa-star {
    animation: heartbeat 0.5s infinite;
}
@keyframes heartbeat {
    0% { transform: scale(1);}
    60% { transform: scale(1.1);}
    100% { transform: scale(1);}
}



/* 인기글 버튼 */



#article-list-menu>.btn.best {

    border-radius: 15px;

}



/* 설정 버튼 */



#article-list-menu>.btn.cog {

    border-radius: 15px;

}



/* 글 쓰기 버튼 */



#article-list-menu>.btn.write {

    border-radius: 15px;

}



/* 목록 버튼 */



.btn {

    border-radius: 15px;

}



.btn-group-sm>.btn, .btn-sm {

    border-radius: 15px;

}



/* 게시글 추천 */



.btn-outline-success {

    color: #C5D7ED;

    border-color: #6E98BA;

}


/*하단*/
.pagination {
    border-radius: 30px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #72d7c7;
    border-color: #72d7c7;
    border-radius: 5px;
}

.btn.square {
    border-radius: 20px;
    font-size: 12px;
    background : white;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7 !important;
    border-color: #2e6da4;
}

.input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#article-list-menu>.btn.best {
    background : white;
}

#boardSearchForm {
    background : none;
}


.pagination-area, #article-list-menu {
    background: none;
}


footer {
    background: none;
}