    @font-face { font-family: 'Handon3gyeopsal300g'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal300g.woff') format('woff'); font-weight: normal; font-style: normal; }

    html {
    background: linear-gradient(to bottom, #f8f8f8, rgba(	112, 219, 219, 0.6) 100%);
    height: auto !important;
    background-attachment: fixed; 

    }

    body {
    background: transparent;
    font-family: 'Handon3gyeopsal300g', serif;

    animation: bubble 20s linear infinite;
    background-image: url('https://upload.tgd.kr/20191004/d4d26c05a43a975b6836f41f4ae12e24.png');
    
    }

    @keyframes bubble {

    0% {background-position: 0px 0px;}

    100% {background-position: 330px 360px;}
        
    }

    /*최상단 배너*/

    header {
        position: relative;
    }
    
/*
    header:before {
        display: block;
        width: 500px;
        height: 70px;
        background: url('https://dandegimon.github.io/yanggether/images/500day.jpg') no-repeat #fff;
        background-position: center;
        position: absolute;
        top: 0;
        left: 31%;
        margin: 3px 0;
        content: " ";
        margin-bottom: 15px;
    }
*/
    /*헤더*/

    header .row>div:nth-child(1)>a {

    margin-top: 5px;

    display: block;

    width: 165px;

    height: 50px;

    background: url('https://upload.tgd.kr/20181220/d4c7149f870179d17f8b5988baf66fbd.png') no-repeat

    }


    header .row>div:nth-child(1)>a img {

        opacity: 0

    }




    header #header-bar #header-top-notice a,header #header-bar a.dropdown-toggle {

        color: #4c4646

    }


    header #right-search-form>#right-search-btn {

        margin-top: 5px;

        color: #72d7c7;

        background: 0 0;

        border: none;

        font-size: 1.4em

    }


    header #right-search-form>input[type=text] {

        margin-top: 5px;
        
        position: relative;

        border: 3px solid #72d7c7;

        background: #fff;

        font-size: 1.1em;

        padding: .3em .5em

    }




    header #header-bar>.row {

        padding-top: .3em;

        padding-bottom: .3em;

        border-top: 3px solid #72d7c7;

        border-bottom: 2px solid #72d7c7;

        border-right: none;

        border-radius: 15px;

    }




    #main #main-content>div.frame,#main .menu-wrapper {

        border-right: 0;

        border-bottom: 0;

        border-radius: 15px;
    }




    header #header-bar #header-top-notice strong.notice-badge {

        background: #72d7c7;

        padding: 4px 8px;

        color: #fff;

        font-weight: 700

    }
    #main .menu-wrapper>.header {

        background: #72d7c7;

        color: #fff;

        padding: .45em 1.4em .45em 1em;

        font-weight: 700;

        border-radius: 15px;

    }

    #main .menu-wrapper a:nth-child(2) {

    border-radius: 15px 15px 0px 0px;

    }

    #main .menu-wrapper a:nth-last-child(1) {

    border-radius: 0px 0px 15px 15px;

    }


    #main .menu-wrapper>a {

        color: #4c4646;

    }




    #main .menu-wrapper>a>em {

        color: #72d7c7;
    }




    .pagination>li>a,.pagination>li>span {

        color: #72d7c7

    }


    .pagination>li>a:hover {

        background-color: #72d7c7;

        color: #fff

    }


    .pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover {

        background-color: #72d7c7;

        border-color: #72d7c7

    }




    #article-content-wrapper>.header {

        border-top: 3px solid #72d7c7;

        

    }




    #article-content-wrapper>.footer {

        border-bottom: 3px solid #72d7c7;

        

    }




    #article-list {

        margin: 0;

        padding: 0 0 2em

    }

    #article-list>.article-list-row>.item>.list-header>span {

        background-color: #72d7c7 !important;

        color: #fff;

        font-weight: bolder;

        padding: 1px 5px;

        font-size: 11px;

        border-radius: 100px

    }

    #article-list #article-list-category, #article-list #article-option-area>#article-option-area-toggle-btn {

        border-top: 3px solid #72d7c7;
    background-color:#f3f8f9;

    }




    #article-list #article-list-category>a, #article-list #article-list-category > a.active {

        display: inline-block;

        padding: 11px 16px;

        background-color:#f3f8f9;

        text-decoration: none;

        font-size: 12px;

        font-weight: 600;

    color:#72d7c7;

    }



    #article-reply-area #reply-real-area .reply>.reply-header {

        

    }




    #article-reply-area>.header h5 {

        font-size: 14px;

        color: #72d7c7;

        font-weight: 700

    }


    #board-info{
        height: auto;
        margin-bottom:0px;
    }

    #board-info #board-info-profile-img{
        width: 6.5em;
        background:none;
        border:2px dashed #72d7c7;
        border-radius:50%;
        float: left !important;
        position: relative;
        left: -5px;
    }

    #board-info h1{
        padding-top: 16px;
        padding-bottom: 4px;
        margin-left: 3.5em;
        border-bottom: 1.1px solid #a4ebdf;
    }


    .fa-user:before{
        content: url(https://static-cdn.jtvnw.net/badges/v1/55dc506d-9b48-4a32-8bd0-57c2bf038a8c/1);
        font-size: 16px;
        position: relative;
        top: 5px;
        animation: change 6s infinite linear 1s;
    }
    @keyframes change {
        0% {content: url(https://static-cdn.jtvnw.net/badges/v1/55dc506d-9b48-4a32-8bd0-57c2bf038a8c/1);}
        25% {content: url(https://static-cdn.jtvnw.net/badges/v1/14ae5214-1476-4bc4-a203-284b9c29ed96/1);}
        50% {content: url(https://static-cdn.jtvnw.net/badges/v1/01a9edbc-ef91-4719-aa48-06ed84f73fb3/1);}
        75% {content: url(https://static-cdn.jtvnw.net/badges/v1/f7a10b17-71bb-4ae6-aa69-af68ecceb73a/1);}
    }

    #board-info #viewers-area #viewers:before {
        content: "존버중인 ";
        cursor: text;
        font-weight: bold;
    }

    #board-info #viewers-area {
        margin-bottom: 6px;
    }

    #board-info #viewers-area #viewers:after {
        content: "개의 물방울";
        cursor: text;
        font-weight: bold;
        
    }

/*스트리머 좋아요 하트*/
#article-list>.article-list-row .fa-heart {
    animation: heartspin 1.5s infinite linear;
}
@keyframes heartspin {
    0% {transform: rotateY(0deg);}
    50% {transform: rotateY(90deg);}
    100% {transform:rotateY(180deg);}
}

/*인기글 하트*/
span.a-badge i.fa.fa-star {
    animation: heartbeat 0.5s infinite;
}
@keyframes heartbeat {
    0% { transform: scale(1);}
    60% { transform: scale(1.1);}
    100% { transform: scale(1);}
}


    #article-list>.article-list-row>.item>.list-title>.list-writer.logged>span,#article-list>.article-list-row>.item>.list-title>a,body {

        color: #4c4646

    }




    #article-list #article-list-menu>.btn.best>.fa.fa-star:before,.btn-outline-success>i.fa.fa-thumbs-up:before,span.a-badge i.fa.fa-star:before {

        content: "\f004"

    }




    #article-list #article-list-menu>.btn.write {

        margin-right: 1em

    }





    .btn-primary {

        background: #72d7c7;

        border-color: #fff

    }




    .btn-primary:active,.btn-primary:focus,.btn-primary:hover {

        background-color: #72d7c7!important;

        border: none

    }

    #article-list>.article-list-row>.item>.list-header , #article-list>.article-list-row>.item>.list-header>b
    {
    color:#72d7c7;
    }





    #article-list>.article-list-row.notice {

        background-color: #edf5c7

    }

    #article-list>.article-list-row.notice:hover,#article-list>.article-list-row:hover {

        background-color: #ccfbf8

    }




    #article-list>.article-list-row>.item>.list-blocked,#article-list>.article-list-row>.item>.list-category,#article-list>.article-list-row>.item>.list-checkbox,#article-list>.article-list-row>.item>.list-header,#article-list>.article-list-row>.item>.list-time,#article-list>.article-list-row>.item>.list-title {

        border-bottom: 0 solid #72d7c7

    }




    #article-list>.article-list-row>.item>.list-header>strong {

        color: #72d7c7

    }




    header>#header-search-bar #header-search-input {

        border: 2px solid #72d7c7

    }




    header>#header-search-bar #header-search-btn {

        color: #72d7c7

    }


    .fr-toolbar {

        border-top: 5px solid #72d7c7

    }



    #article-list #article-list-menu>.btn.best,.btn-outline-success , #article-list #article-list-menu>.btn.cog{

        border-color: #72d7c7;

        color: #72d7c7

    }

    #article-list #article-list-menu>.btn.del{
        background-color: #72d7c7;

    }

    .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group
    {
    color:#72d7c7;
    border:1px solid #72d7c7;
    }

    #article-list>.article-list-row>.item>.list-title>small.comment-count{
    color:#72d7c7;
    }


    #article-list #article-list-category>a:hover
    {
    color:#72d7c7;
    }

    a#lastc
    {
    color:#72d7c7;
    }

    .footer .btn-default
    {
    color:#72d7c7;
    border: 1px solid #72d7c7;
    }

    .footer .btn-default:hover
    {
    color:#fff;
    background-color:#72d7c7;
    }

    .vote-area .btn-outline-success:hover
    {
    background-color:#72d7c7;
    border: 1px solid #72d7c7;
    }

    #board-info #board-info-bottom a{
    color:#72d7c7;
    }

    .header span {
        color: #72d7c7;
    }

    #article-list>.article-list-row.active
    {
    background-color:#ccfbf8
    }

    .fa-square:before {
    color: #72d7c7;
    }

    header #header-bar .fa {
    color: #72d7c7;
    }